@import url("normalize.css");

:root
{
    color-scheme: light;

    --hue: 54;
    --clr-text: hsl(236, 21%, 14%);
    --clr-background: hsl(var(--hue), 62%, 95%);
    --clr-interact: hsl(var(--hue), 83%, 67%);
    --clr-active: hsl(240, 100%, 99%);
    --clr-selection: hsl(calc(180 + var(--hue)), 83%, 67%);

    --br-m: 11px;
    --br-s: 3px;
    accent-color: var(--clr-interact);
}

@font-face
{
    font-family: 'Twemoji';
    src: url('./_assets/fonts/TwemojiCountryFlags.woff2') format('woff2');
}

@font-face
{
    font-family: 'Roboto Flex';
    src: url('./_assets/fonts/RobotoFlex-VariableFont_GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.woff2') format('woff2-variations');
    font-weight: 100 1000;
}

::selection
{
  background: var(--clr-selection);
}

/* scrollbar */
::-webkit-scrollbar
{
  width: 13px;
}

::-webkit-scrollbar-track
{
  background: var(--clr-under-text);
}

::-webkit-scrollbar-track:hover
{
  background: var(--clr-text);
}

::-webkit-scrollbar-thumb
{
  background: var(--clr-background);
  border: 1.5px solid transparent;
  background-clip: content-box;
  border-radius: 100vw;
}

html
{
    background-color: var(--clr-background);
    color: var(--clr-text);
    font-family: 'Roboto Flex';
}

p
{
    margin: 0px;
}

ol,
button
{
    padding: 0px;
}

div
{
    width: 100%;
}

input
{
    font-family: "Twemoji", 'Roboto Flex';
    background-color: var(--clr-background);
    border-radius: var(--br-s);
}

svg
{
    fill: var(--clr-text);
}

button
{
    cursor: pointer;
}
