.emoji_input
{
    flex: 0 0 auto;
    text-align: center;
    height: 100%;
    aspect-ratio: 1;
    font-size: 1.5rem;
}

.emoji_input::placeholder
{
    opacity: 0.2;
    filter: grayscale(100%);
}
