.main
{
    min-height: 100vh;
    font-family: 'Twemoji', sans-serif;
}

.country_list
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: nowrap;
    margin-inline: 0.3em;
}

.country_list_item
{
    display: block;
}

.country_list_item_content
{
    --list-item-color: var(--clr-interact);
    display: flex;
    gap: 12px;
    height: 48px;
    --input-height: 41px;
}

.country_list_item_button
{
    background-color: var(--list-item-color);
    border: 1px solid var(--clr-text);
    aspect-ratio: 1;
}

.country_list_item:first-of-type .country_list_item_button
{
    border-radius: 12px 0px 0px 0px;
}

.country_list_item:last-of-type .country_list_item_button
{
    border-radius: 0px 0px 0px 12px;
}

.country_list_item_edit
{
    background-color: var(--list-item-color);
    border: 1px solid var(--clr-text);
    display: flex;
    align-items: center;
    padding: 0px 10px 0px 5px;
    flex-wrap: nowrap;
    gap: 0.4em;
    padding-block: 0.4em;
}

.country_list_item:first-of-type .country_list_item_edit
{
    border-radius: 0px 12px 0px 0px;
}

.country_list_item:last-of-type .country_list_item_edit
{
    border-radius: 0px 0px 12px 0px;
}

.active
{
    --list-item-color: var(--clr-active);
}

.rank_number
{
    width: 2.3ch;
    text-align: end;
}

.emoji_input
{
    flex: 0 0 auto;
    text-align: center;
    height: 100%;
    aspect-ratio: 1;
    font-size: 1.5rem;
}

.country_input
{
    width: inherit;
    height: 100%;
}

.country_drag_handle
{
    width: 2.8em;
    text-align: center;
}
