.main
{
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    max-width: 22em;
    align-items: center;
    gap: 1em;
    margin-block-start: 1em;
}

.main .ranking_link
{
    width: 100%;
    aspect-ratio: auto;
    text-decoration: none;
    color: var(--clr-text);
    font-weight: bold;
    justify-content: flex-start;
    font-size: 1.7rem;
}
